/*Обнуление*/

html{
    box-sizing: border-box;
}


*{
    padding: 0;
    margin: 0;
    border: 0;
}
*,*:before,*:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: inherit;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}



nav,footer,header,aside{display: block;}

html,body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/



/*подключение шрифтов*/

/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/roboto-v30-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/roboto-v30-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-italic - latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: local(''),
       url('../fonts/roboto-v30-latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/roboto-v30-latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-500 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local(''),
       url('../fonts/roboto-v30-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/roboto-v30-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-500italic - latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 500;
  src: local(''),
       url('../fonts/roboto-v30-latin-500italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/roboto-v30-latin-500italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-700 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('../fonts/roboto-v30-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/roboto-v30-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-700italic - latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 700;
  src: local(''),
       url('../fonts/roboto-v30-latin-700italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/roboto-v30-latin-700italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}



/*-----style-----*/

body{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    color: #000000;
}
.wrap{
  max-width: 1220px;
  margin: 0 auto;
}


/*для header*/

.header{
    padding-bottom: 1%;
    padding-top: 1%;
    min-width: 100%;
    max-height: 84px;;
    background: #007765;
    position: sticky;
}



.header_wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.header_nav{
    color: white;
}

.header_nav-items{
    display: inline-block;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
}

/* для main*/

.main_back{
    background-image: url(../image/backgrownd.png);
    background-size: 100%;
    height: 400px;
     display: flex;
    justify-content: center;
    align-items: center;
}
.main_back-text{
    font-style: normal;
    font-weight: 500;
    font-size: 72px;
    line-height: 84px;
    color: #FFFFFF;
}
.main_wrap{
    background-color: #EEE;
}
.main_header{
    padding: 48px 57px 16px 55px;
    text-align: center;
    font-weight: 500;
    font-size: 64px;
    line-height: 75px;
    text-align: center;
    color: #007765;
    display: block;
}
.main_text{
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    margin: 20px 0 20px;
}
.main_text-bold{
    font-weight: bold;
}
.main_back2{
    background-image: url(../image/backgrownd2.png);
    background-size: 100%;
    
     display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.main_back-text2{
    padding: 15%;
    font-style: italic;
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
    color: #FFFFFF;
}
.ppclogo{
    float: left;
    padding: 3%;

}
.main_wrap2{
    background-color: #FFF;
    padding-bottom: 1%;
}
.main_foto{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(auto-fill, 1fr);
    grid-gap: 1.5rem;
}
.card_foto{
    padding: 10%;

    text-align: center;
}
.foto_name{
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #007765;
}
.foto_text{
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
}



/*footer*/

footer{
    text-align: center;
    background: #333333;

}
.footer{
    padding: 10% 20%;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;

}